.fm-form-container.fm-theme53 {width:70%;}.fm-form-container.fm-theme53 .fm-form {}.fm-form-container.fm-theme53 .fm-form .fm-header-bg {display:block;}.fm-form-container.fm-theme53 .fm-form .fm-header {text-align:center;}.fm-form-container.fm-theme53 .fm-form .image_left_right.fm-header {padding: 0 !important;}.fm-form-container.fm-theme53 .fm-form .image_left_right > div {}.fm-form-container.fm-theme53 .fm-form.header_left_right .wdform-page-and-images {width:100%;}.fm-form-container.fm-theme53 .fm-form.header_left_right .fm-header {}.fm-topbar .fm-form-container.fm-theme53 .fm-form .fm-header {width:40% !important;}.fm-form-container.fm-theme53 .fm-form .fm-header-title {font-size:24px;}.fm-form-container.fm-theme53 .fm-form .fm-header-description {font-size:15px;}.fm-form-container.fm-theme53 .fm-scrollbox {width:30%;}.fm-form-container.fm-theme53 .fm-minimize-text div {}.fm-form-container.fm-theme53 .fm-minimize-text div:hover {}.fm-form-container.fm-theme53 .fm-form .wdform-page-and-images {width:100%;}.fm-topbar .fm-form-container.fm-theme53 .fm-form .wdform-page-and-images {width:60% !important;}.fm-form-container.fm-theme53 .fm-form .mini_label {font-weight:normal;font-size:12px !important;}.fm-form-container.fm-theme53 .fm-form .wdform-page-and-images label {}.fm-form-container.fm-theme53 .fm-form .wdform-page-and-images {}.fm-form-container.fm-theme53 .fm-form .wdform_section {background: transparent;}.fm-form-container.fm-theme53.fm-form .wdform_column {}.fm-form-container.fm-theme53 .fm-form .ui-slider {}.fm-form-container.fm-theme53 .fm-scrollbox .fm-scrollbox-form {}.fm-form-container.fm-theme53 .fm-popover .fm-popover-content {width:70%;}.fm-form-container.fm-theme53 .fm-pages.wdform_page_navigation {}.fm-form-container.fm-theme53 .fm-form .wdform_footer {margin:15px 0 0 0;}.fm-form-container.fm-theme53 .fm-pages .page_active {padding:8px;background-color:#7f7f7f;}.fm-form-container.fm-theme53 .fm-pages .page_deactive {background-color:#999999;margin:0 0 10px 0;padding:4px 6px;}.fm-form-container.fm-theme53 .fm-pages .page_percentage_active {padding:8px;background-color:#7f7f7f;}.fm-form-container.fm-theme53 .fm-pages .page_percentage_deactive {width:100%;margin:0 0 10px 0;padding:4px 6px;background-color:#999999;}.fm-form-container.fm-theme53 .fm-action-buttons {}.fm-form-container.fm-theme53 .closing-form,
						 .fm-form-container.fm-theme53 .minimize-form {position:absolute;}.fm-form-container.fm-theme53 .closing-form {top:10px;right:10px;}.fm-form-container.fm-theme53 .minimize-form {top:10px;right: 23px;}.fm-form-container.fm-theme53 .closing-form:hover,
						 .fm-form-container.fm-theme53 .minimize-form:hover {border:none;}.fm-form-container.fm-theme53 .fm-form .wdform-required {color:#FF0000;}.fm-form-container.fm-theme53 .fm-form input(not:active) {}.fm-form-container.fm-theme53 .fm-form .file-picker {}.fm-form-container.fm-theme53 .fm-form .file-upload-status {display: none;}.fm-form-container.fm-theme53 .fm-form .file-upload input {border: none;}.fm-form-container.fm-theme53 .fm-form {}.fm-form-container.fm-theme53 .fm-form .wdform_section {}.fm-form-container.fm-theme53 .fm-form input[type="text"],
						 .fm-form-container.fm-theme53 .fm-form .ui-corner-all,
						 .fm-form-container.fm-theme53 .fm-form input[type="number"],
						 .fm-form-container.fm-theme53 .fm-form input[type=password],
						 .fm-form-container.fm-theme53 .fm-form input[type=url],
						 .fm-form-container.fm-theme53 .fm-form input[type=email],
						 .fm-form-container.fm-theme53 .fm-form textarea,
						 .fm-form-container.fm-theme53 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme53 .fm-form select,
						 .fm-form-container.fm-theme53 .fm-form .captcha_img,
						 .fm-form-container.fm-theme53 .fm-form .arithmetic_captcha_img {height:40px;}.fm-form-container.fm-theme53 .fm-form input[type="text"],
              .fm-form-container.fm-theme53 .fm-form .ui-corner-all:not(.ui-spinner):not(.ui-slider-horizontal),
              .fm-form-container.fm-theme53 .fm-form input[type="number"],
						 .fm-form-container.fm-theme53 .fm-form input[type=password],
						 .fm-form-container.fm-theme53 .fm-form input[type=url],
						 .fm-form-container.fm-theme53 .fm-form input[type=email],
						 .fm-form-container.fm-theme53 .fm-form textarea,
						 .fm-form-container.fm-theme53 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme53 .fm-form .file-upload-status,
						 .fm-form-container.fm-theme53 .fm-form select {padding:6px 10px;}.fm-form-container.fm-theme53 .fm-form input[type="text"],
              .fm-form-container.fm-theme53 .fm-form .ui-corner-all,
              .fm-form-container.fm-theme53 .fm-form input[type="number"],
						 .fm-form-container.fm-theme53 .fm-form input[type=password],
						 .fm-form-container.fm-theme53 .fm-form input[type=url],
						 .fm-form-container.fm-theme53 .fm-form input[type=email],
						 .fm-form-container.fm-theme53 .fm-form textarea,
						 .fm-form-container.fm-theme53 .fm-form .ui-spinner-input,
						 .fm-form-container.fm-theme53 .fm-form .file-upload-status,
						 .fm-form-container.fm-theme53 .fm-form select {font-size:16px;border-radius:2px !important;}.fm-form-container.fm-theme53 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type=password],
									.fm-form-container.fm-theme53 .fm-form input[type=url],
									.fm-form-container.fm-theme53 .fm-form input[type=email],
									.fm-form-container.fm-theme53 .fm-form textarea,
									.fm-form-container.fm-theme53 .fm-form .ui-spinner,
									.fm-form-container.fm-theme53 .fm-form .ui-slider,
									.fm-form-container.fm-theme53 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme53 .fm-form select {border-top:1px !important;border-top-style:solid !important;border-top-color:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form .ui-slider-range {background:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type=password],
									.fm-form-container.fm-theme53 .fm-form input[type=url],
									.fm-form-container.fm-theme53 .fm-form input[type=email],
									.fm-form-container.fm-theme53 .fm-form textarea,
									.fm-form-container.fm-theme53 .fm-form .ui-spinner,
									.fm-form-container.fm-theme53 .fm-form .ui-slider,
									.fm-form-container.fm-theme53 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme53 .fm-form select {border-left:1px !important;border-left-style:solid !important;border-left-color:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form .ui-spinner-button {border-left:1px !important;border-left-style:solid !important;border-left-color:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form .ui-slider-range {background:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type=password],
									.fm-form-container.fm-theme53 .fm-form input[type=url],
									.fm-form-container.fm-theme53 .fm-form input[type=email],
									.fm-form-container.fm-theme53 .fm-form textarea,
									.fm-form-container.fm-theme53 .fm-form .ui-spinner,
									.fm-form-container.fm-theme53 .fm-form .ui-slider,
									.fm-form-container.fm-theme53 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme53 .fm-form select {border-right:1px !important;border-right-style:solid !important;border-right-color:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form .ui-slider-range {background:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form input[type="text"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type="number"]:not(.ui-spinner-input),
									.fm-form-container.fm-theme53 .fm-form input[type=password],
									.fm-form-container.fm-theme53 .fm-form input[type=url],
									.fm-form-container.fm-theme53 .fm-form input[type=email],
									.fm-form-container.fm-theme53 .fm-form textarea,
									.fm-form-container.fm-theme53 .fm-form .ui-spinner,
									.fm-form-container.fm-theme53 .fm-form .ui-slider,
									.fm-form-container.fm-theme53 .fm-form .ui-slider-handle,
									.fm-form-container.fm-theme53 .fm-form select {border-bottom:1px !important;border-bottom-style:solid !important;border-bottom-color:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form .ui-slider-range {background:#dfdfdf !important;}.fm-form-container.fm-theme53 .fm-form select {}.rtl  .fm-form-container.fm-theme53 .fm-form select {}.fm-form-container.fm-theme53 .fm-form .radio-div label span {}.fm-form-container.fm-theme53 .fm-form .radio-div input[type="radio"]:checked + label span:after {}.fm-form-container.fm-theme53 .fm-form .checkbox-div label span {}.fm-form-container.fm-theme53 .fm-form .checkbox-div input[type="checkbox"]:checked + label span:after {}.fm-form-container.fm-theme53 .button-submit,
						  .fm-form-container.fm-theme53 .button-reset {}.fm-form-container.fm-theme53 .fm-form .button-submit {}.fm-form-container.fm-theme53 .fm-form .button-submit:hover {}.fm-form-container.fm-theme53 .fm-form .button-reset,
		.fm-form-container.fm-theme53 .fm-form button { }.fm-form-container.fm-theme53 .fm-form .button-reset:hover,
							.fm-form-container.fm-theme53 .fm-form button:hover {}.fm-form-container.fm-theme53 .fm-form .next-page div.wdform-page-button {}.fm-form-container.fm-theme53 .fm-form .next-page div.wdform-page-button:hover {}.fm-form-container.fm-theme53 .fm-minimize-text div {}.fm-form-container.fm-theme53 .fm-form .previous-page div.wdform-page-button {}.fm-form-container.fm-theme53 .fm-form .previous-page div.wdform-page-button:hover {}.fm-form-container.fm-theme53 .fm-form input[type="radio"] {}
						.fm-form-container.fm-theme53 .fm-form input[type="checkbox"] {}