.fm-form-container.fm-theme1 .fm-form .wdform-page-and-images .other_input
{
max-width: none;
}.fm-form-container.fm-theme1 .fm-form 
button, .fm-form-container.fm-theme1 .fm-form
input, .fm-form-container.fm-theme1 .fm-form
select, .fm-form-container.fm-theme1 .fm-form
textarea
{
font-size:14px;
}.fm-form-container.fm-theme1 .fm-form 
.warning, .fm-form-container.fm-theme1 .fm-form
.error
{
background-color: #F0EFEF;
border: 1px solid #013D7C;
border-radius: 5px;
color: #013D7C;
padding: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.warning *, .fm-form-container.fm-theme1 .fm-form
.error *
{
margin:0;
}.fm-form-container.fm-theme1 .fm-form 
.recaptcha_input_area input
{
height:initial !important;
}.fm-form-container.fm-theme1 .fm-form 
input[type="radio"]
{
border:none !important;
outline:none !important;
}.fm-form-container.fm-theme1 .fm-form 
input[type="checkbox"]
{
border:none !important;
outline:none !important;
}.fm-form-container.fm-theme1 .fm-form 
a.ui-spinner-button
{
border-radius:0px !important;
background: none!important;
}.fm-form-container.fm-theme1 .fm-form 

a.ui-slider-handle {
width: 13px;
height: 13px;
top: -4px;
border: 0px;
border-radius: 13px;
background: #FAFAFA;
border: 3px solid #B1B1B1;
outline: none;
}.fm-form-container.fm-theme1 .fm-form 

.ui-slider {
	height: 6px;
	background: #F5F5F5 !important;
	margin: 7px 0px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_grading input {
	width: 100px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-cell input[type="text"] {
	width: 100px;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-cell select {
	width: 60px;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_section .wdform_column:last-child {
	padding-right: 0px !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_preload {
	display: none;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_grading {
	padding: 3px 0px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-table {
	display: table;
	border-spacing: 0px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-column {
	text-align: left;
	display: table-cell;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-cell {
	text-align: center;
	display: table-cell;
	padding: 6px 10px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-head>div {
	display: table-cell;
	text-align: center;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-head {
	display: table-row;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-row0 {
	background: #DFDFDF;
	display: table-row;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-matrix-row1 {
	background: #E9E9E9;
	display: table-row;
}.fm-form-container.fm-theme1 .fm-form 
.selected-text {
	text-align: left;
	color: #000;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-quantity {
	width: 30px;
	margin: 2px 0px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_scale_rating label {
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 
.ui-corner-all {
	border-radius: 0px;
}.fm-form-container.fm-theme1 .fm-form 
.ui-widget-content {
	border: 0px;
	background: transparent;
}.fm-form-container.fm-theme1 .fm-form 


.ui-slider-range {
	background: #8A8A8A !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_map {
	border: 6px solid #fff;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-page-and-images {
	width: 100%;
	border: 0px solid #000 !important;
padding-left:10px;
}.fm-form-container.fm-theme1 .fm-form 
.paypal-property {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 
.sel-wrap {
	display: inline-block;
	vertical-align: middle;
	width:100%;
}.fm-form-container.fm-theme1 .fm-form 

.sel-imul {
	display: none;
}.fm-form-container.fm-theme1 .fm-form 
.sel-imul .sel-selected {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border-radius: 0px;
	padding: 0px 0px 0px 2px;
	font-size: 13px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	background: #F8F8F8;
	border: 0px solid #D3D3D3;
	background-position: right 2px center;
	width: 100%;
}.fm-form-container.fm-theme1 .fm-form 
.sel-imul.act .sel-selected {
	background: #fff;
}.fm-form-container.fm-theme1 .fm-form 
.sel-selected .sel-arraw {
	height: 23px;
	width: 30px;
	background: url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/09/01.png) 50% 50% no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px;
}.fm-form-container.fm-theme1 .fm-form 
.sel-imul:hover .sel-selected .sel-arraw {
  }.fm-form-container.fm-theme1 .fm-form 
.sel-imul.act .sel-selected .sel-arraw {
  }.fm-form-container.fm-theme1 .fm-form 
.sel-imul .sel-options {
	background: #fff;
	border: 1px solid #dbdbdb;
	border-top: none;
	position: absolute;
	width: inherit;
	display: none;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}.fm-form-container.fm-theme1 .fm-form 
.sel-options .sel-option {
	padding: 3px 4px;
	font-size: 13px;
	border: 1px solid #fff;
	border-right: none;
	border-left: none;
	text-align: left;
}.fm-form-container.fm-theme1 .fm-form 
.sel-options .sel-option:hover {
	border-color: #dbdbdb;
	cursor: pointer;
}.fm-form-container.fm-theme1 .fm-form 
.sel-options .sel-option.sel-ed {
	background: #dbdbdb;
	border-color: #dbdbdb;
}.fm-form-container.fm-theme1 .fm-form 
input[type=text]{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
input[type=password]{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
input[type=url]{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
input[type=email]{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
input.text{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
input.title{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
textarea{
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
select {
	margin: 0px;
}.fm-form-container.fm-theme1 .fm-form 
.form-error {
	border-color: red !important;
}.fm-form-container.fm-theme1 .fm-form 
.form-error:focus {
	border-color: red !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-field {
	display: table-cell;
	padding: 5px 0px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-label-section{
	text-align: left;
	display: table-cell;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-element-section {
	text-align: left;
	display: table-cell;
	min-width: 140px;
}.fm-form-container.fm-theme1 .fm-form 
.file-upload input {
	position: absolute;
	visibility: hidden;
}.fm-form-container.fm-theme1 .fm-form 
.file-upload-status {
	margin-left: 10px;
	max-width: 200px;
	font-weight: bold;
	font-size: 16px;
	color: #888;
	position: absolute;
	border-radius: 0px;
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	}.fm-form-container.fm-theme1 .fm-form 
.file-picker {
	width: 41px;
	height: 32px;
	background: url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/10/01/upload.png) no-repeat;
	display: inline-block;
}.fm-form-container.fm-theme1 .fm-form 
.next-page div.wdform-page-button {
color: #FFF;
cursor: pointer;
display: inline-block;
height: 38px;
line-height: 35px;
background:url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/10/next.png) no-repeat right #013D7C;
padding: 0px 36px 0 20px;
vertical-align: middle;
font-size: 18px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
}.fm-form-container.fm-theme1 .fm-form 
.previous-page div.wdform-page-button {
color: #A2A2A2;
cursor: pointer;
display: inline-block;
height: 37px;
line-height: 35px;
background:url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/09/previous.png) no-repeat left #F1F1F1;
padding: 0 20px 0 36px;
vertical-align: middle;
font-size: 18px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
}.fm-form-container.fm-theme1 .fm-form 
.button-submit {
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	background: #013D7C;
	padding: 0px 20px;
	vertical-align: middle;
	font-size: 18px;
	min-width: 80px;
	min-height: 35px;
	font-family: Segoe UI;
		border: 1px solid transparent;
	margin: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.button-reset {
	color: #787878;
	cursor: pointer;
	display: inline-block;
	line-height: 35px;
	background: #F0EFEF;
	padding: 0px 20px;
	vertical-align: middle;
	font-size: 18px;
	min-width: 80px;
	min-height: 35px;
	font-family: Segoe UI;
	float: right;
	border: 1px solid transparent;
	margin: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_page {
	background: #FFFFFF;
	padding-top: 15px;
	border-radius: 0px;
	font-family: Segoe UI;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_column {
	border-right: none !important;
	padding-right: 50px !important;
	float: left;
	border-spacing: 2px;
	border-collapse: separate !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_section_break2 {
	color: #013D7C;
	display: inline-block;
	text-align: left;
	font-size: 23px;
margin: 16px 10px 40px 0px;
}.fm-form-container.fm-theme1 .fm-form 

.wdform_section_break {
	color: #013D7C;
	font-size: 23px;
margin: 16px 0px;
}.fm-form-container.fm-theme1 .fm-form 

.wdform_section {
	display: inline-block;
}.fm-form-container.fm-theme1 .fm-form 
select {
	padding: 2px;
	height: 26px;
	border: 1px solid #B7B7B7;
background: #F8F8F8;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
input[type="text"]{
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
input[type="password"]{
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
textarea {
	border-radius: 0px;
	height: 22px;
	padding:0 3px !important;
	background: #F8F8F8;
border:1px solid #B7B7B7;
font-size: 14px !important;
}.fm-form-container.fm-theme1 .fm-form 
input[type="text"]:focus{
	outline: none;
}.fm-form-container.fm-theme1 .fm-form 
input[type="password"]:focus{
	outline: none;
}.fm-form-container.fm-theme1 .fm-form 
textarea:focus{
	outline: none;
}.fm-form-container.fm-theme1 .fm-form 
select {
	outline: none;
}.fm-form-container.fm-theme1 .fm-form 
.input_deactive {
	color: #999999;
	font-style: italic;
}.fm-form-container.fm-theme1 .fm-form 
.input_active {
	color: #000000;
	font-style: normal;
}.fm-form-container.fm-theme1 .fm-form 
.am_pm_select {
	width: 30px;
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 


.wdform-calendar-button, .fm-form-container.fm-theme1 .fm-form
.wdform-calendar-button:hover {
  display:inline-block;
	background: transparent url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/03/date.png) no-repeat !important;
	border: 0px;
	color: transparent;
	width: 22px;
	height: 22px;
	position: relative;
	left: -22px;
	vertical-align: top;
	outline: none;
}.fm-form-container.fm-theme1 .fm-form 


.forlabs {
	float: right;
	margin-right: 20px;
}.fm-form-container.fm-theme1 .fm-form 

.if-ie-div-label {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-ch-rad-label {
	display: inline;
	margin: -4px 5px 5px 5px;
	float: left;
	color: #000;
	cursor: pointer
}.fm-form-container.fm-theme1 .fm-form 
textarea {
	padding-top: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-date {
  display:inline-block;
	width: 105px
}.fm-form-container.fm-theme1 .fm-form 
.wdform_footer {
	margin-top: 15px;
}.fm-form-container.fm-theme1 .fm-form 
.page-numbers {
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 
.time_box {
	text-align: right;
	width: 30px;
	vertical-align: middle
}.fm-form-container.fm-theme1 .fm-form 
.mini_label {
	font-size: 10px;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	color: #8A8A8A;
}.fm-form-container.fm-theme1 .fm-form 
.wdform-label {
	border: none;
	color: #000;
	vertical-align: top;
	line-height: 17px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_colon {
	color: #000
}.fm-form-container.fm-theme1 .fm-form 
.wdform_separator {
	font-style: bold;
	vertical-align: middle;
	color: #000;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_line {
	color: #000
}.fm-form-container.fm-theme1 .fm-form 
.wdform-required {
	border: none;
	color: red;
	vertical-align: top;
}.fm-form-container.fm-theme1 .fm-form 
.captcha_img {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	border-radius: 0px;
}.fm-form-container.fm-theme1 .fm-form 
.captcha_refresh {
	width: 30px;
	height: 30px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(https://acm.itselectron.com/wp-content/plugins/form-maker/images/refresh_black.png);
}.fm-form-container.fm-theme1 .fm-form 
.captcha_input {
	height: 20px;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 
.file_upload {
	border: 0px solid white;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	color: black;
	background-color: white;
}.fm-form-container.fm-theme1 .fm-form 
.page_deactive {
color: #013E7D;
background-color: #FFF;
cursor: pointer;
display: inline-block;
height: 29px;
text-align: center;
vertical-align: bottom;
padding: 5px 25px 0px 25px;
font-size: 16px;
font-weight:bold;
}.fm-form-container.fm-theme1 .fm-form 
.page_active {
color: #FFF;
cursor: pointer;
background-color: #013E7D;
display: inline-block;
vertical-align: bottom;
height: 29px;
text-align: center;
font-size: 20px;
padding: 5px 25px 0px 25px;
line-height: 26px;
font-weight:bold;
}.fm-form-container.fm-theme1 .fm-form 
.page_percentage_active {
padding: 0px;
margin: 0px;
border-spacing: 0px;
height: 16px;
line-height: 16px;
font-size: 15px;
float: left;
text-align: right !important;
z-index: 1;
position: relative;
vertical-align: middle;
background: #013E7F;
color: #fff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.page_percentage_deactive {
height: 16px;
line-height: 16px;
background-color: #F1F1F1;
text-align: left !important;
margin-bottom: 1px;
border-radius: 5px;
}.fm-form-container.fm-theme1 .fm-form 
.page_numbers {
	font-size: 14px;
	color: #000;
}.fm-form-container.fm-theme1 .fm-form 
.phone_area_code {
	width: 50px;
}.fm-form-container.fm-theme1 .fm-form 
.phone_number {
	width: 100px;
}.fm-form-container.fm-theme1 .fm-form 
button {
	cursor: pointer;
}.fm-form-container.fm-theme1 .fm-form 
.other_input {
	border-radius: 0px;
	border-width: 1px;
	height: 16px;
	font-size: 12px;
	padding: 1px;
	margin: 1px;
	margin-left: 25px;
	z-index: 100;
	position: absolute;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_page_navigation {
	text-align: right !important;
}.fm-form-container.fm-theme1 .fm-form 

.wdform_percentage_text {
margin: 3px 5px 3px 9px;
color: #FFF;
font-size: 12px;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_percentage_title {
	color: #6E6E6E;
	font-style: italic;
	margin: 0px 0px 0px 40px;
	display: inline-block;
	line-height: 27px;
	height: 27px;
	vertical-align: middle;
}.fm-form-container.fm-theme1 .fm-form 
.wdform_button button {
	background: #4D792C;
	cursor: pointer;
	font-size: 17px;
	border-radius: 0px;
	min-width: 80px;
	min-height: 31px;
	color: #fff;
	border: 2px solid #68943B;
	margin: 5px;
	box-shadow: 0px 0px 2px #c9c9c9;
	font-family: Segoe UI;
}.fm-form-container.fm-theme1 .fm-form 