/*
 Theme Name:     Divi Child Theme
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        3.0.105
*/
 
/* =Theme customization starts here
------------------------------------------------------- */
 #top-menu li li a {
	width: auto !important}

.action-links img {
    width: 15px;
}

#top-menu li ul {
    
    width: 300px;
}
#main-content .container{ margin: 0; padding-left: 15px;}
.et_vertical_nav #main-header .logo_container {
    position: relative;
    height: auto;
    padding: 0;
    text-align: center;
}
#main-header #top-menu li li {
    margin: 0;
    padding: 0;
}

.action-links{
		cursor: pointer;
	}
@media all and (min-width: 981px) {
.et_vertical_nav #main-header #top-menu > li > a {
		margin-right: -30px;
		padding-right: 40px;
		padding-bottom: 13px;
		padding-left: 10px;
		padding-top: 10px;
	  }
.et_vertical_nav #main-header .container{     padding-right: 0;    padding-left: 0; }	
.et_vertical_nav #main-header #top-menu > li > a:after{ top: 10px; } 
#page-container #main-header .container {    width: auto;    margin: 0 30px; } 
.et_pb_section {    padding: 4% 2%; }
#main-header #top-menu li ul.sub-menu {    top: 0px;    left: 195px; }
	}